.contact_header_back {
  background: linear-gradient(
      0deg,
      rgba(16, 21, 70, 0.65),
      rgba(16, 21, 70, 0.65)
    ),
    url(../img/about_header_back.png), #eceefe;
  background-size: cover;
  background-attachment: fixed;
  background-position: center right;
  background-color: gray;
  background-blend-mode: multiply;
}
.contact_name {
  height: 48vh !important;
}
.contact_name h1 {
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  color: #ffffff;
}
.contact_info span {
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.0008em;
  color: #3e5bdb;
}
.border_inst {
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
  gap: 10px;
  width: 42px;
  height: 42px;
  background: #3e5bdb;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    linear-gradient(98.64deg, #d62976 1.38%, #fa7e1e 98.29%);
  background-blend-mode: multiply, normal; */
  box-shadow: 0px 0px 12px #3e5bdb;

  border-radius: 20px;

  margin-bottom: 10px;
/* transition: 0.5s ease-in; */
}
.border_inst:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), linear-gradient(98.64deg, #D62976 1.38%, #FA7E1E 98.29%);
  box-shadow: 0px 0px 12px rgba(240, 78, 35, 0.25);
}
.border_link:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), linear-gradient(98.64deg, #0E76A8 1.38%, #1191CF 98.29%);
  box-shadow: 0px 0px 12px rgba(14, 119, 170, 0.25);
}
.border_facebook:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), linear-gradient(98.64deg, #293DD6 21.38%, #1EA9FA 78.29%);
  box-shadow: 0px 0px 12px rgba(33, 114, 221, 0.25);
}
.border_twitter:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), linear-gradient(98.64deg, #00ACEE 1.38%, #57D0FF 98.29%);
box-shadow: 0px 0px 12px rgba(30, 176, 232, 0.25);
}
.border_link {
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
  gap: 10px;
  background: #3e5bdb;

  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    linear-gradient(98.64deg, #0e76a8 1.38%, #1191cf 98.29%);
  background-blend-mode: multiply, normal; */
  box-shadow: 0px 0px 12px #3e5bdb;

  border-radius: 20px;

  margin-bottom: 10px;
  width: 42px;
  height: 42px;
  transition: 0.5s ease-in;

}
.border_facebook {
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
  gap: 10px;
  width: 42px;
  height: 42px;
  background: #3e5bdb;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), linear-gradient(98.64deg, #293DD6 1.38%, #1EA9FA 98.29%);
background-blend-mode: multiply, normal; */
box-shadow: 0px 0px 12px #3e5bdb;

  border-radius: 20px;
  margin-bottom: 10px;
  transition: 0.5s ease-in;

}
.border_twitter {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
justify-content: center;
  gap: 10px;
  width: 42px;
  height: 42px;
  background: #3e5bdb;

  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    linear-gradient(98.64deg, #00acee 1.38%, #57d0ff 98.29%);
  background-blend-mode: multiply, normal; */
  box-shadow: 0px 0px 12px #3e5bdb;
  transition: 0.5s ease-in;

  border-radius: 20px;
}
.border_content span {
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: -0.0008em;

  /* Ver 2 / Blue BG 3 */

  color: #f3f5fc;
}
.zaqolovok_style {
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  /* Ver 2/Blue */

  color: #1a265c;
  padding-bottom: 20px;
}
.unv_content {
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.0008em;

  /* Ver 2/Blue Light 2 */
  color: #3e5bdb;
}

