/* NEW MEZUN FIKIR */
.gtco-testimonials {
  position: relative;
  margin-top: 30px;
}

.gtco-testimonials .owl-stage-outer {
  padding: 30px 0;
}

.gtco-testimonials .owl-dots {
  display: none;
  text-align: center;
  justify-content: center;

  align-items: center;
}
.gtco-testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #617eff !important;
  border: 2px solid #617eff;
  margin: 0 5px;
}
.gtco-testimonials .owl-dots .active {
  box-shadow: none;
  opacity: 1 !important;
}
.gtco-testimonials .owl-dots .active span {
  background: #4e65ce !important;
  border: 2px solid #4e65ce;
  opacity: 1 !important;
  box-shadow: none;
  height: 13px;
  width: 13px;
}
.gtco-testimonials .card {
  background: #fff;
  box-shadow: 0 8px 30px -7px rgba(155, 163, 235, 0.3);

  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}
.gtco-testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px rgba(48, 70, 168, 0.2);
  width: 100px;
  height: 100px;
}
.gtco-testimonials .card h5 {
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;

  color: #1a265c;
  line-height: 1.3;
}
.gtco-testimonials .card h5 span {
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* Blue/Blue Light 3 */

  color: #617eff;
}
.gtco-testimonials .card p {
  padding-bottom: 15px;
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #3046a8;
}
.gtco-testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.gtco-testimonials .center {
  opacity: 1;
}
.gtco-testimonials .center h5 {
  font-size: 24px;
}
.gtco-testimonials .center h5 span {
  font-size: 20px;
}
.gtco-testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: #617eff !important;
  text-decoration: none;
  opacity: 0.7;
}

.owl-carousel button.owl-dot {
  outline: 0;
}
.owl-nav > div {
  margin-top: -26px !important;
  position: absolute !important;
  top: 50% !important;
  color: #617eff !important;
}
.owl-carousel .owl-nav button.owl-next {
  color: #617eff !important;
}
.owl-carousel .owl-nav button.owl-prev {
  color: #617eff !important;
}

.owl-nav {
  display: flex !important;
  position: relative !important;
  top: -252px;
  width: 97%;
  left: 20px;

  justify-content: space-between !important;
  align-items: center !important;
}

.owl-nav i {
  font-size: 52px !important;
}

.owl-nav .owl-prev {
  left: -30px !important;
}

.owl-nav .owl-next {
  right: -30px !important;
}
/* NEW MEZUN FIKIR */

@media only screen and (max-width: 1399px) {
  .owl-nav {
    left: 23px;
    width: 96%;
  }
}

@media only screen and (max-width: 1199px) {
  .owl-nav {
    left: 24px;
    width: 95%;
  }
}
@media only screen and (max-width: 991px) {
  .owl-nav {
    left: 22px;
    width: 94%;
    top: -222px;
  }
}
@media only screen and (max-width: 767px) {
  .owl-nav {
    left: 21px;
    width: 92%;
    top: -222px;
  }
}
@media only screen and (max-width: 550px) {
  .owl-nav {
    width: 91%;
    top: -240px;
  }
}

@media only screen and (max-width: 425px) {
  .owl-nav {
    width: 89%;
    top: -240px;
  }
}
@media only screen and (max-width: 375px) {
  .owl-nav {
    width: 88%;
    top: -240px;
  }
}

@media only screen and (max-width: 320px) {
  .owl-nav {
    width: 86%;
    top: -240px;
  }
}
