@media only screen and (max-width: 420px) {
  .about_faculty p {
    font-family: "Albert Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px !important;
    line-height: 31px;
    letter-spacing: -0.0008em;
    color: #1a265c;
    text-align: left !important;
  }
  .content_header {
    font-size: 30px !important;
    line-height: 31px;
    padding: 30px 0px;
  }
  table.GeneratedTable td,
  table.GeneratedTable th {
    font-size: 18px !important;
  }
  .about_faculty ul li {
    font-size: 20px !important;
    text-align: left !important;
  }
}
@media only screen and (max-width: 575px) {
  .about_faculty p {
    text-align: left !important;
  }
}
@media only screen and (max-width: 390px) {
  .about_faculty p {
    font-family: "Albert Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 31px;
    letter-spacing: -0.0008em;
    color: #1a265c;
    text-align: left !important;

  }
  .about_faculty ul li {
    font-size: 18px !important;
    text-align: left !important;
  }
  table.GeneratedTable td,
  table.GeneratedTable th {
    font-size: 15px !important;
  }
}
